.box, .mypage-box,
.controller-wiki.action-show .wiki.wiki-page,
.controller-attachments.action-show .filecontent.wiki {
  background-color: #fff;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 3px;
  border: 1px solid #dfe8f1;
}

.controller-wiki.action-show .wiki.wiki-page {
  margin-top: 25px;
  margin-bottom: 10px;
}