.controller-documents.action-index #content {
  h3.group-name {
    position: relative;
    border: none;
    font-weight: bold;
    background-color: $color-note-title-bg;
    padding: $note-title-padding;
    border-radius: 4px;
  }
  h4.title {
    font-size: 1.2em;
    border-bottom: 0px;
  }
}