$overridden-selectors: '.icon-add', '.icon-edit', '.icon-copy', '.icon-del', '.icon-move', '.icon-save', '.icon-download', '.icon-cancel', '.icon-multiple', '.icon-folder', '.open:not(.dmsf-expander)', '.icon-folder', '.icon-package', '.icon-user', '.icon-project', '.icon-projects', '.icon-help', '.icon-attachment', '.icon-history', '.icon-time-entry', '.icon-time', '.icon-time-add', '.icon-stats', '.icon-warning', '.icon-error', '.icon-fav', '.icon-fav-off', '.icon-reload', '.icon-lock', '.icon-locked', '.icon-unlock', '.icon-checked', '.icon-comment', '.icon-comments', '.icon-summary', '.icon-server-authentication', '.icon-issue', '.icon-zoom-in', '.icon-zoom-out', '.icon-passwd', '.icon-arrow-right', '.icon-test', '.icon-sticky', '.icon-email', '.icon-email-disabled', '.icon-email-add', '.icon-ok', '.icon-not-ok', '.icon-link-break', '.icon-list', '.icon-close', '.icon-settings', '.icon-roles', '.icon-issue-edit', '.icon-workflows', '.icon-custom-fields', '.icon-plugins', '.icon-news', '.icon-issue-closed', '.icon-issue-note', '.icon-changeset', '.icon-message', '.icon-reply', '.icon-wiki-page', '.icon-wiki-page', '.icon-document', '.icon-add-bullet', '.icon-shared', '.icon-actions', '.icon-expanded',
'.icon-expended', '.icon-sidebar', '.icon-collapsed', '.icon-bookmark', '.icon-bookmark-off', '.icon-sort-handle', '.icon-sorted-asc', '.icon-sorted-desc', '.icon-toggle-plus', '.icon-toggle-minus', '.icon-file', '.icon-clear-query', '.icon-import', '.icon-group:not(.name):not(.group)', '.icon-bookmarked-project', '.icon-copy-link';

// .atomアイコンは個別に置き換え
a.atom { background: transparent; padding: 2px 0px 3px 16px; }
a.atom:before { /* fa-atom */ @include fontAwesome('f143', 'Solid'); }

.icon:before, .icon-only:before, #context-menu .icon-checked:before {
  color: $icon-color;
}
.icon:hover::before, .icon-only:hover::before, #context-menu .icon-checked:before {
  color: $hover-icon-color;
}
.icon:before, .icon-only:before, a.atom:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 14px;
  padding-right: 5px;
}

.icon-add:before { /* fa-circle-plus */ @include fontAwesome('f055', 'Solid');}
.icon-edit:before { /* fa-pencil */ @include fontAwesome('f303', 'Solid'); }
.icon-copy:before { /* fa-clone */ @include fontAwesome('f0c5'); }
.icon-copy-link:before { /* fa-clipboard */ @include fontAwesome('f328') }
.icon-del:before { /* fa-trash */ @include fontAwesome('f2ed'); }
.icon-move:before { /* fa-share */ @include fontAwesome('f064', 'Solid'); }
.icon-save:before { /* fa-floppy */ @include fontAwesome('f0c7'); }
.icon-download:before { /* fa-download */ @include fontAwesome('f019', 'Solid'); }
.icon-cancel:before { /* fa-reply */ @include fontAwesome('f3e5', 'Solid'); }
.icon-multiple:before { /* fa-sync-alt */ @include fontAwesome('f2f1', 'Solid'); }
.icon-folder:before { /* fa-folder */ @include fontAwesome('f07b'); }
.open .icon-folder:before { /* fa-folder */ @include fontAwesome('f07c'); }
.icon-package:before { /* fa-cube */ @include fontAwesome('f1b2', 'Solid'); }
.icon-user:before { /* fa-user */ @include fontAwesome('f007', 'Solid'); }
.icon-project:before, .icon-projects:before { /* fa-cubes */ @include fontAwesome('f1b3', 'Solid'); }
.icon-help:before { /* fa-info-circle */ @include fontAwesome('f05a', 'Solid'); }
.icon-attachment:before  { /* fa-paperclip */ @include fontAwesome('f0c6', 'Solid'); }
.icon-history:before  { /* fa-history */ @include fontAwesome('f1da', 'Solid'); }
.icon-time-entry:before, .icon-time:before { /* fa-clock */ @include fontAwesome('f017'); }
.icon-time-add:before  { /* fa-clock */ @include fontAwesome('f017'); }
.icon-stats:before  {  /* fa-bar-chart */ @include fontAwesome('f080'); }
.icon-warning { /* fa-warning */ @include ColoredIconInBeforeOfElement('f071', 'Solid', $color-warning-icon); }
.icon-error { /* fa-warning */ @include ColoredIconInBeforeOfElement('f071', 'Solid', $color-error-icon); }
.icon-fav { /* fa-star */ @include ColoredIconInBeforeOfElement('f005', 'Solid', $color-star-icon); }
.icon-fav-off:before  {  /* fa-star */ @include fontAwesome('f005'); }
.icon-reload:before  { /* fa-refresh */ @include fontAwesome('f021', 'Solid'); }
.icon-lock:before, .icon-locked:before  { /* fa-lock */ @include fontAwesome('f023', 'Solid'); }
.icon-unlock:before  { /* fa-unlock */ @include fontAwesome('f09c', 'Solid'); }
.icon-checked { /* fa-check */ @include ColoredIconInBeforeOfElement('f00c', 'Solid', $color-success-icon); }
.icon-comment:before, .icon-comments:before  { /* fa-comment */ @include fontAwesome('f075'); }
.icon-summary:before  { /* fa-table */  @include fontAwesome('f0ce', 'Solid'); }
.icon-server-authentication:before {  /* fa-key */ @include fontAwesome('f084', 'Solid'); }
.icon-issue:before { /* fa-sticky-note */ @include fontAwesome('f249'); }
.icon-zoom-in:before { /* fa-search-plus */ @include fontAwesome('f00e', 'Solid'); }
.icon-zoom-out:before { /* fa-search-minus */ @include fontAwesome('f010', 'Solid'); }
.icon-passwd:before { /* fa-key */ @include fontAwesome('f084', 'Solid'); }
.icon-arrow-right:before, .icon-test:before, .icon-sticky:before { /* fa-arrow-right */ @include fontAwesome('f061', 'Solid'); }
.icon-email:before { /* fa-envelope */ @include fontAwesome('f0e0'); }
.icon-email-disabled:before { /* fa-envelope */ @include fontAwesome('f0e0', 'Solid'); }
.icon-email-add:before { /* fa-envelope */ @include fontAwesome('f0e0'); }
.icon-ok { /* fa-check */ @include ColoredIconInBeforeOfElement('f00c', 'Solid', $color-success-icon); }
.icon-not-ok { /* fa-close */ @include ColoredIconInBeforeOfElement('f00d', 'Solid', $color-error-icon); }
.icon-link-break:before { /* fa-unlink */ @include fontAwesome('f127', 'Solid'); }
.icon-list:before { /* fa-list-ul */ @include fontAwesome('f0ca', 'Solid'); }
.icon-close:before { /* fa-close */ @include fontAwesome('f00d', 'Solid'); }
.icon-settings:before { /* fa-cog */ @include fontAwesome('f013', 'Solid'); }
.icon-roles:before { /* fa-eye */ @include fontAwesome('f06e', 'Solid'); }
.icon-issue-edit:before { /* fa-pencil-square */ @include fontAwesome('f044', 'Solid'); }
.icon-workflows:before { /* fa-cogs */ @include fontAwesome('f085', 'Solid'); }
.icon-custom-fields:before { /* fa-file-alt */ @include fontAwesome('f15c'); }
.icon-plugins:before { /* fa-puzzle-piece */ @include fontAwesome('f12e', 'Solid'); }
.icon-news:before { /* fa-newspaper */   @include fontAwesome('f1ea'); }
.icon-issue-closed:before { /* fa-check-square */ @include fontAwesome('f14a'); }
.icon-issue-note:before {/* fa-comment */ @include fontAwesome('f075'); }
.icon-changeset:before { /* fa-code */   @include fontAwesome('f121', 'Solid'); }
.icon-message:before {/* fa-comment */ @include fontAwesome('f075'); }
.icon-reply:before { /* fa-comments */ @include fontAwesome('f086'); }
.icon-wiki-page:before { /* fa-book */ @include fontAwesome('f02d', 'Solid'); }
.icon-document:before { /* fa-file  */ @include fontAwesome('f15b'); }
.icon-add-bullet:before {  /* fa-plus-circle */ @include fontAwesome('f055', 'Solid');}
.icon-shared:before { /* fa-link */ @include fontAwesome('f0c1', 'Solid'); }
.icon-actions:before { /* fa-ellipsis-h */ @include fontAwesome('f141', 'Solid'); }
/* Support https: //redmine.org/issues/36149 */
.icon-expanded:before { /* fa-angle-down */ @include fontAwesome('f107', 'Solid'); }
.icon-expended:before { /* fa-angle-down */ @include fontAwesome('f107', 'Solid'); }
.icon-sidebar:before { /* fa-left-right */ @include fontAwesome('f337', 'Solid'); }

.icon-collapsed:before { /* fa-angle-right */ @include fontAwesome('f105', 'Solid'); }
.icon-bookmark { /* fa-bookmark */ @include ColoredIconInBeforeOfElement('f02e', 'Solid', $color-bookmark-icon); }
.icon-bookmark-off:before { /* fa-bookmark */ @include fontAwesome('f02e'); }
.icon-sort-handle:before { /* fa-bookmark */ @include fontAwesome('f338', 'Solid'); }
.icon-sorted-asc:before { /* fa-angle-down */ @include fontAwesome('f107', 'Solid'); }
.icon-sorted-desc:before { /* fa-angle-up */ @include fontAwesome('f106', 'Solid'); }
.icon-toggle-plus:before { /* fa-plus-square */ @include fontAwesome('f0fe'); }
.icon-toggle-minus:before { /* fa-minus-square */ @include fontAwesome('f146'); }
.icon-clear-query:before { /* fa-times-circle */ @include fontAwesome('f057', 'Solid'); }
.icon-import:before { /* fa-file-import */ @include fontAwesome('f56f', 'Solid'); }

.icon-file:before { /* fa-file */ @include fontAwesome('f15b'); }
.icon-file.text-plain:before { /* fa-file */ @include fontAwesome('f15b'); }
.icon-file.text-x-c:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.text-x-csharp:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.text-x-java:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.text-x-javascript:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.text-x-php:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.text-x-ruby:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.text-xml:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.text-css:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.text-html:before { /* fa-file-code */ @include fontAwesome('f1c9'); }
.icon-file.image-gif:before { /* fa-file-image */ @include fontAwesome('f1c5'); }
.icon-file.image-jpeg:before { /* fa-file-image */ @include fontAwesome('f1c5'); }
.icon-file.image-png:before { /* fa-file-image */ @include fontAwesome('f1c5'); }
.icon-file.image-tiff:before { /* fa-file-image */ @include fontAwesome('f1c5'); }
.icon-file.application-pdf:before { /* fa-file-pdf */ @include fontAwesome('f1c1'); }
.icon-file.application-zip:before { /* fa-file-archive */ @include fontAwesome('f1c6'); }
.icon-file.application-x-gzip:before { /* fa-file-archive */ @include fontAwesome('f1c6'); }

#{$overridden-selectors} {
  background-image: none !important;
  padding-left: 0px !important;

  &:before {
    padding-right: 2px;
    width: 17px;
    text-align: center;
  }
  &.icon-only {
    text-decoration: none;
    background-position: initial;
    background-repeat: initial;
    display: inline-block;
    width: auto;
    height: auto;
    overflow: initial;
    padding-top: initial;
    padding-bottom: initial;
    vertical-align: initial;
    font-size: 0;
    white-space: nowrap;
  }
}

// autocompleteのinput field内のサーチアイコンをsvgアイコンに置き換え
input.autocomplete {
  background: #fff url('../images/search.svg') no-repeat 2px 50%;
  background-size: 12px 12px;
  background-position: 5px center;
}

// ガントチャートの折りたたみが崩れる問題に対処
.gantt-table .icon:not(.expander):before {
  width: 12px;
  padding-left: 2px;
  padding-right: 5px;
}
.gantt-table .icon.expander:before {
  width: 10px;
}
@media screen and (max-width: 899px) {
  .gantt-table .icon:not(.expander):before {
    width: 20px;
  }
  .gantt-table .icon.expander:before {
    width: 12px;
  }
}

// context-menuのicon位置がずれないように固定
#context-menu ul li .icon {
  padding-left: 2px;
}

// 行を選択して背景色が青くなったときはアイコン色を白に変える
.context-menu-selection .icon:before {
  color: white;
}
// 一部のgroupアイコンはimgタグのsrcとして直接埋め込まれており置換が難しい
// .members.boxと#admin-menuのアイコンのみはメニューのアイコンと言うことでFont Awesomeに置き換え、
// それ以外はグループのアバターという扱いでそのままにしておく(Gravatarと同じような扱い)
// $overridden-selectorsも.icon-group:not(.name)というように.nameがついている要素はiconを置き換えないという扱いにしている
.members.box h3.icon-group, #admin-menu .icon-group {
  background-image: none;

  &:before { /* fa-users */ @include fontAwesome('f0c0', 'Solid'); }
}

// プロジェクト一覧では、a:beforeでなくa:afterにアイコンを表示
body.controller-projects.action-index a.project, body.controller-projects.action-index span {
  &:before {
    content: "";
    width: 0px;
  }
  &.icon:after {
    color: $icon-color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 14px;
  }
  &.icon-bookmarked-project:after { /* fa-bookmark */ @include fontAwesome('00a0 \\f02e', 'Solid'); }
  &.icon.my-project:after { /* fa-user */ @include fontAwesome('00a0 \\f007', 'Solid'); }
  &.icon.my-project.icon-bookmarked-project:after {
    @include fontAwesome('00a0 \\f007 \\00a0 \\f02e', 'Solid');
  }

}

// 拡大画面でのサイドバーの検索フォームのレイアウトを修正
@media screen and (max-width: 899px) {
  .flyout-menu .flyout-menu__search input[type='text'] {
    padding-left: 27px !important;
  }
}

// admin-menuで選択されたメニューの位置がずれる問題を修正
#admin-menu {
  #{$overridden-selectors} {
    padding-left: 2px !important;
    &.selected {
      padding-left: 2px !important;
    }
  }
}

// アイコンをボタンのように見せるとき、padding-leftを入れる
@media screen and (max-width: 899px) {
  p.buttons {
    #{$overridden-selectors} {
      padding-left: 6px !important;
    }
  }
  @each $selector in $overridden-selectors {
    #content>.contextual>#{$selector} {
      padding-left: 6px !important;
    }
  }
}

.flyout-menu {
  #{$overridden-selectors} {
    &:before {
      color: white !important;
    }
  }
}
