$overridden-selectors: (
  '.icon-actions', '.icon-add', '.icon-add-bullet', '.icon-arrow-right', '.icon-attachment',
  '.icon-bookmark', '.icon-bookmark-off', '.icon-bookmarked-project', '.icon-cancel',
  '.icon-changeset', '.icon-checked', '.icon-clear-query', '.icon-close', '.icon-collapse',
  '.icon-collapsed', '.icon-comment', '.icon-comments', '.icon-copy', '.icon-copy-link',
  '.icon-custom-fields', '.icon-del', '.icon-document', '.icon-download', '.icon-edit',
  '.icon-email', '.icon-email-add', '.icon-email-disabled', '.icon-error', '.icon-expanded',
  '.icon-expended', '.icon-export', '.icon-fav', '.icon-fav-off', '.icon-file', '.icon-folder',
  '.icon-help', '.icon-history', '.icon-icon-issue', '.icon-wiki-page',
  '.icon-icon-issue-closed', '.icon-icon-issue-note', '.icon-icon-message', '.icon-icon-reply',
  '.icon-icon-test', '.icon-icon-wiki-page', '.icon-import', '.icon-issue', '.icon-issue-closed',
  '.icon-issue-edit', '.icon-issue-note', '.icon-link-break', '.icon-list', '.icon-lock',
  '.icon-locked', '.icon-macro', '.icon-macros', '.icon-message', '.icon-move',
  '.icon-news', '.icon-not-ok', '.icon-ok', '.icon-open:not(.dmsf-expander)',
  '.icon-package', '.icon-passwd', '.icon-plugins', '.icon-project', '.icon-projects',
  '.icon-reload', '.icon-reply', '.icon-roles', '.icon-save', '.icon-server-authentication',
  '.icon-settings', '.icon-shared', '.icon-sidebar', '.icon-sort-handle', '.icon-sorted-asc',
  '.icon-sorted-desc', '.icon-sticky', '.icon-summary', '.icon-time', '.icon-time-add',
  '.icon-time-entry', '.icon-toggle-minus', '.icon-toggle-plus', '.icon-unlock',
  '.icon-user', '.icon-warning', '.icon-workflows', '.icon-zoom-in', '.icon-zoom-out',
  // '.icon-group:not(.name):not(.group)', // -> todo: check if this is still necessary
  '.icon-group', '.icon-groupanonymous', '.icon-groupnonmember'
);

// .atomアイコンは個別に置き換え
a.atom { background: transparent; padding: 2px 0px 3px 16px; }
a.atom:before { content: "\f143"; /* fa-atom */ }

.icon:before, .icon-only:before, #context-menu .icon-checked:before {
  color: $icon-color;
}
.icon:hover::before, .icon-only:hover::before, #context-menu .icon-checked:before {
  color: $hover-icon-color;
}
.icon:before, .icon-only:before, a.atom:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: $fa-font-family;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 14px;
  padding-right: 5px;
}

.icon-add:before { content: "\f055"; /* fa-circle-plus */ }
.icon-edit:before { content: "\f303"; /* fa-pencil */ }
.icon-copy:before { content: "\f0c5"; /* fa-clone */ }
.icon-copy-link:before { content: "\f328"; /* fa-clipboard */ }
.icon-del:before { content: "\f2ed"; /* fa-trash */ }
.icon-move:before { content: "\f064"; /* fa-share */ }
.icon-save:before { content: "\f0c7"; /* fa-floppy */ }
.icon-download:before { content: "\f019"; /* fa-download */ }
.icon-cancel:before { content: "\f3e5"; /* fa-reply */ }
.icon-multiple:before { content: "\f2f1"; /* fa-sync-alt */ }
.icon-folder:before { content: "\f07b"; /* fa-folder */ }
.open .icon-folder:before { content: "\f07c"; /* fa-folder */ }
.icon-package:before { content: "\f1b2"; /* fa-cube */ }
.icon-user:before { content: "\f007"; /* fa-user */ }
.icon-project:before, .icon-projects:before { content: "\f1b3"; /* fa-cubes */ }
.icon-help:before { content: "\f05a"; /* fa-info-circle */ }
.icon-attachment:before  { content: "\f0c6"; /* fa-paperclip */ }
.icon-history:before  { content: "\f1da"; /* fa-history */ }
.icon-time-entry:before, .icon-time:before { content: "\f017"; /* fa-clock */ }
.icon-time-add:before  { content: "\f017"; /* fa-clock */ }
.icon-stats:before  { content: "\f080";  /* fa-bar-chart */ }
.icon-warning:before { content: "\f071"; /* fa-warning */ color: $color-warning-icon; }
  .icon-warning:hover:before { color: darken($color-warning-icon, 10%); }
.icon-error:before { content: "\f071"; /* fa-warning */ color: $color-error-icon; }
  .icon-error:hover:before { color: darken($color-error-icon, 10%); }
.icon-fav:before { content: "\f005"; /* fa-star */ color: $color-star-icon; }
  .icon-fav:hover:before { color: darken($color-star-icon, 10%); }
.icon-fav-off:before  { content: "\f005";  /* fa-star */ }
.icon-reload:before  { content: "\f021"; /* fa-refresh */ }
.icon-lock:before, .icon-locked:before  { content: "\f023"; /* fa-lock */ }
.icon-unlock:before  { content: "\f09c"; /* fa-unlock */ }
.icon-checked:before { content: "\f00c"; /* fa-check */ color: $color-success-icon; }
  .icon-checked:hover:before { color: darken($color-success-icon, 10%); }
.icon-comment:before, .icon-comments:before  { content: "\f075"; /* fa-comment */ }
.icon-summary:before  { content: "\f0ce"; /* fa-table */  }
.icon-server-authentication:before { content: "\f084";  /* fa-key */ }
.icon-issue:before { content: "\f249"; /* fa-sticky-note */ }
.icon-zoom-in:before { content: "\f00e"; /* fa-search-plus */ }
.icon-zoom-out:before { content: "\f010"; /* fa-search-minus */ }
.icon-passwd:before { content: "\f084"; /* fa-key */ }
.icon-arrow-right:before, .icon-test:before, .icon-sticky:before { content: "\f061"; /* fa-arrow-right */ }
.icon-email:before { content: "\f0e0"; /* fa-envelope */ }
.icon-email-disabled:before { content: "\f0e0"; /* fa-envelope */ }
.icon-email-add:before { content: "\f0e0"; /* fa-envelope */ }
.icon-ok:before { content: "\f00c"; /* fa-check */ color: $color-success-icon; }
  .icon-ok:hover:before { color: darken($color-success-icon, 10%); }
.icon-not-ok:before { content: "\f00d"; /* fa-close */ color: $color-error-icon; }
  .icon-not-ok:hover:before { color: darken($color-error-icon, 10%); }
.icon-link-break:before { content: "\f127"; /* fa-unlink */ }
.icon-list:before { content: "\f0ca"; /* fa-list-ul */ }
.icon-close:before { content: "\f00d"; /* fa-close */ }
.icon-settings:before { content: "\f013"; /* fa-cog */ }
.icon-roles:before { content: "\f06e"; /* fa-eye */ }
.icon-issue-edit:before { content: "\f044"; /* fa-pencil-square */ }
.icon-workflows:before { content: "\f085"; /* fa-cogs */ }
.icon-custom-fields:before { content: "\f15c"; /* fa-file-alt */ }
.icon-plugins:before { content: "\f12e"; /* fa-puzzle-piece */ }
.icon-news:before { content: "\f1ea"; /* fa-newspaper */   }
.icon-issue-closed:before { content: "\f14a"; /* fa-check-square */ }
.icon-issue-note:before { content: "\f075"; /* fa-comment */ }
.icon-changeset:before { content: "\f121"; /* fa-code */   }
.icon-message:before { content: "\f075"; /* fa-comment */ }
.icon-reply:before { content: "\f086"; /* fa-comments */ }
.icon-wiki-page:before { content: "\f02d"; /* fa-book */ }
.icon-document:before { content: "\f15b"; /* fa-file  */ }
.icon-add-bullet:before { content: "\f055";  /* fa-plus-circle */ }
.icon-shared:before { content: "\f0c1"; /* fa-link */ }
.icon-actions:before { content: "\f141"; /* fa-ellipsis-h */ }

/* Support https: //redmine.org/issues/36149 */
.icon-expanded:before { content: "\f107"; /* fa-angle-down */ }
.icon-expended:before { content: "\f107"; /* fa-angle-down */ }
.icon-sidebar:before { content: "\f337"; /* fa-left-right */ }
.icon-collapsed:before { content: "\f105"; /* fa-angle-right */ }
.icon-bookmark:before { content: "\f02e"; /* fa-bookmark */ color: $color-bookmark-icon; }
  .icon-bookmark:hover:before { color: darken($color-bookmark-icon, 10%); }
.icon-bookmark-off:before { content: "\f02e"; /* fa-bookmark */ }
.icon-sort-handle:before { content: "\f338"; /* fa-bookmark */ }
.icon-sorted-asc:before { content: "\f107"; /* fa-angle-down */ }
.icon-sorted-desc:before { content: "\f106"; /* fa-angle-up */ }
.icon-toggle-plus:before { content: "\f0fe"; /* fa-plus-square */ }
.icon-toggle-minus:before { content: "\f146"; /* fa-minus-square */ }
.icon-clear-query:before { content: "\f057"; /* fa-times-circle */ }
.icon-import:before { content: "\f56f"; /* fa-file-import */ }

.icon-group:before { content: "\f500"; /* fa-user-group */ }
.icon-groupanonymous:before { content: "\f500"; /* fa-user-group */ }
.icon-groupnonmember:before { content: "\f500"; /* fa-user-group */ }

.icon-file:before { content: "\f15b"; /* fa-file */ }
.icon-file.text-plain:before { content: "\f15b"; /* fa-file */ }
.icon-file.text-x-c:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.text-x-csharp:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.text-x-java:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.text-x-javascript:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.text-x-php:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.text-x-ruby:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.text-xml:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.text-css:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.text-html:before { content: "\f1c9"; /* fa-file-code */ }
.icon-file.image-gif:before { content: "\f1c5"; /* fa-file-image */ }
.icon-file.image-jpeg:before { content: "\f1c5"; /* fa-file-image */ }
.icon-file.image-png:before { content: "\f1c5"; /* fa-file-image */ }
.icon-file.image-tiff:before { content: "\f1c5"; /* fa-file-image */ }
.icon-file.application-pdf:before { content: "\f1c1"; /* fa-file-pdf */ }
.icon-file.application-zip:before { content: "\f1c6"; /* fa-file-archive */ }
.icon-file.application-x-gzip:before { content: "\f1c6"; /* fa-file-archive */ }

#{$overridden-selectors} {
  background-image: none !important;
  padding-left: 0px !important;

  &:before {
    padding-right: 2px;
    width: 17px;
    text-align: center;
  }
  &.icon-only {
    text-decoration: none;
    background-position: initial;
    background-repeat: initial;
    display: inline-block;
    width: auto;
    height: auto;
    overflow: initial;
    padding-top: initial;
    padding-bottom: initial;
    vertical-align: initial;
    font-size: 0;
    white-space: nowrap;
  }
}

// autocompleteのinput field内のサーチアイコンをsvgアイコンに置き換え
input.autocomplete {
  background: #fff url('../images/search.svg') no-repeat 2px 50%;
  background-size: 12px 12px;
  background-position: 5px center;
}

// ガントチャートの折りたたみが崩れる問題に対処
.gantt-table .icon:not(.expander):before {
  width: 12px;
  padding-left: 2px;
  padding-right: 5px;
}
.gantt-table .icon.expander:before {
  width: 10px;
}
@media screen and (max-width: 899px) {
  .gantt-table .icon:not(.expander):before {
    width: 20px;
  }
  .gantt-table .icon.expander:before {
    width: 12px;
  }
}

// context-menuのicon位置がずれないように固定
#context-menu ul li .icon {
  padding-left: 2px;
}

// 行を選択して背景色が青くなったときはアイコン色を白に変える
.context-menu-selection .icon:before {
  color: white;
}
// TODO: check if this still applies
// 一部のgroupアイコンはimgタグのsrcとして直接埋め込まれており置換が難しい
// .members.boxと#admin-menuのアイコンのみはメニューのアイコンと言うことでFont Awesomeに置き換え、
// それ以外はグループのアバターという扱いでそのままにしておく(Gravatarと同じような扱い)
// $overridden-selectorsも.icon-group:not(.name)というように.nameがついている要素はiconを置き換えないという扱いにしている
// .members.box h3.icon-group, #admin-menu .icon-group {
//   background-image: none;
//   &:before { content: "\f0c0"; /* fa-users */ }
// }

// プロジェクト一覧では、a:beforeでなくa:afterにアイコンを表示
body.controller-projects.action-index a.project, body.controller-projects.action-index span {
  &:before {
    content: "";
    width: 0px;
  }
  &.icon:after {
    color: $icon-color;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-size: 14px;
  }
  // \00a0: This is the Unicode code point for a non-breaking space. It's being used here as a separator between icons.
  &.icon-bookmarked-project:after { content: "\00a0\f02e"; /* fa-bookmark */ }
  &.icon.my-project:after { content: "\00a0\f007"; /* fa-user */ }
  &.icon.my-project.icon-bookmarked-project:after { content: "\00a0\f007\00a0\f02e"; /* fa-user and fa-bookmark */ }

}

// 拡大画面でのサイドバーの検索フォームのレイアウトを修正
@media screen and (max-width: 899px) {
  .flyout-menu .flyout-menu__search input[type='text'] {
    padding-left: 27px !important;
  }
}

// admin-menuで選択されたメニューの位置がずれる問題を修正
#admin-menu {
  #{$overridden-selectors} {
    padding-left: 2px !important;
    &.selected {
      padding-left: 2px !important;
    }
  }
}

// アイコンをボタンのように見せるとき、padding-leftを入れる
@media screen and (max-width: 899px) {
  p.buttons {
    #{$overridden-selectors} {
      padding-left: 6px !important;
    }
  }
  @each $selector in $overridden-selectors {
    #content>.contextual>#{$selector} {
      padding-left: 6px !important;
    }
  }
}

.flyout-menu {
  #{$overridden-selectors} {
    &:before {
      color: white !important;
    }
  }
}
