$input-padding: 4px 6px;
$color-input-bg: #ffffff;
$color-disabled-input-bg: #ebebe4;
$color-input-text: #2b2f33;
$color-input-border: #dfe8f1;
$color-input-border-focus: #3da6ff;
$color-validation-error-input-border: #bb0000;

$color-submit-text: #ffffff;
$color-submit-border: #34495e;
$color-submit-bg: #34495e;
$color-submit-disabled-bg: #95a5a6;
$color-submit-hover-border: #3f5872;
$color-submit-hover-bg: #3f5872;

$color-button-text: #555a60;
$color-button-border: #dfe8f1;
$color-button-bg: #fefeff;
$color-button-disabled-bg: #95a5a6;
$color-button-hover-text: #2b2f33;
$color-button-hover-border: #bfc8d1;
$color-button-hover-bg: #f3f3f9;

$checkbox-size: 16px;
$checkbox-margin: 7px 2px 7px 0px;


#wrapper, .modal {
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="file"],
  select,
  textarea {
    background-color: $color-input-bg;
    padding: $input-padding;
    color: $color-input-text;
    border: 1px solid $color-input-border;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    height: auto;
    line-height: 1.3;

    &:hover {
      border: 1px solid darken($color-input-border, 10%);
    }

    &:focus,
    &:active {
      border-color: $color-input-border-focus !important;
    }

    &.filename {
      box-shadow: none;
    }

    &:disabled {
      background-color: $color-disabled-input-bg;
    }
  }
  .select2-container--default .select2-selection--single {
    color: $color-input-text;
    border: 1px solid $color-input-border;
    box-shadow: inset 1px 1px 3px #f6f6f6;
    border-radius: 3px;
    box-sizing: border-box;
    outline: none;
    line-height: 1.3;
    height: 24px;
    padding: 0px 25px 0px 5px;
    .select2-selection__arrow {
      // Hide original arrow icon
      b {
        display: none;
      }
      background-image: url('../images/arrow.svg');
      background-size: 10px;
      background-repeat: no-repeat;
      background-position: 0px;
    }
    .select2-selection__rendered {
      padding: 1px 2px;
      font-family: Arial;
      font-size: 13px;
      color: #2b2f33;
      line-height: 1.5;
      font-weight: 400;
    }
    &:hover {
      border: 1px solid darken($color-input-border, 10%);
    }

    &:focus,
    &:active {
      border-color: $color-input-border-focus !important;
    }
  }
  .select2-container--default.select2-container--disabled .select2-selection--single {
    cursor: not-allowed;
    color: graytext;
    background-color: #ebebe4 !important;
  }
  // テキストボックスで等幅フォントを使用
  input[type="text"] {
    font-family: "Osaka-Mono", "MS Gothic", sans-serif;
    font-size: 100%;
  }

  textarea.wiki-edit {
    font-size: 13px;
    font-family: "Osaka-Mono", "MS Gothic", sans-serif;
    letter-spacing: normal;
    line-height: 130%;
  }

  select {
    height: auto;
    appearance: none;
    background-image: url('../images/arrow.svg');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding-right: 2.5em;

    &::-ms-expand {
      display: none;
    }

    &:hover {
      border-color: #ccc;
      outline: none;
    }

    &:focus,
    &:active {
      border-color: $color-input-border-focus !important;
    }

    // Fix Firefox dotted focusring
    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 #000;
    }

    &[multiple="multiple"] {
      background: white;
      padding-right: 5px;
    }
  }

  .tabular label {
    margin-top: 5px;

    &.error {
      color: $color-validation-error-input-border !important;
    }
    &.error + *:not(#issue_description_and_toolbar), &.error + span#issue_description_and_toolbar div.jstBlock {
      border: 1px solid $color-validation-error-input-border !important;
    }
  }

  label.inline {
    margin-right: 5px;
  }

  input[type="submit"] {
    border-radius: 3px;
    padding: 2px 12px 3px;
    color: $color-submit-text;
    border: 1px solid $color-submit-border;
    background: $color-submit-bg;
    box-shadow: none;
    &:hover, &:active {
      border-color: $color-submit-hover-border;
      background-color: $color-submit-hover-bg;
    }
    &:active {
      outline: 0;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
    &:disabled {
      background-color: $color-submit-disabled-bg;
      cursor: not-allowed;
    }
  }

  input[type="button"] {
    border-radius: 3px;
    padding: 2px 12px 3px;
    color: $color-button-text;
    border: 1px solid $color-button-border;
    background: $color-button-bg;
    box-shadow: none;
    &:hover, &:active {
      color: $color-button-hover-text;
      border-color: $color-button-hover-border;
      background-color: $color-button-hover-bg;
    }
    &:active {
      outline: 0;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
    &:disabled {
      background-color: $color-button-disabled-bg;
      cursor: not-allowed;
    }
  }

  input[type="checkbox"] {
    width: $checkbox-size;
    height: $checkbox-size;
    margin: $checkbox-margin;
    box-shadow: none;
  }

  .pagination ul.pages li.page {
    border: 1px solid $color-button-border;
    background: $color-button-bg;
    box-shadow: none;
    &:hover, &:active {
      a { color: $color-button-hover-text; }
      border-color: $color-button-hover-border;
      background-color: $color-button-hover-bg;
    }
    &:active {
      outline: 0;
      box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    }
  }
  .pagination ul.pages li.previous, .pagination ul.pages li.next {
    background: $color-button-bg;
  }
}

form .attributes {
  select { width: 85%; }

  .check_box_group label {
    width: 100%;
  }
}

.select2-container.select2-container--default {
  .select2-dropdown {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, .5);
    border: none;
  }
  li.select2-results__option[role="option"] {
    &:before {
      content: ' ';
      display: inline-block;
      line-height: 1em;
      width: 1em;
      height: 1em;
      margin-right: 4px;
      font-weight: bold;
    }
  }
  li.select2-results__option[role="option"][aria-selected=true] {
    &:before {
      content: "\2713 ";
    }
  }
  li.select2-results__option--highlighted[role="option"][aria-selected] {
    background-color: #759FC2;
    color: #fff;
  }

  input.select2-search__field {
    background: #fff url('../images/search.svg') no-repeat 2px 50%;
    background-size: 12px 12px;
    background-position: 5px;
    padding-left: 20px;
    &:focus {
      outline: none;
      border-color: $color-input-border-focus;
    }
  }
}
