$issue-padding: 20px;

$progress-height: 0.6em;
$color-progress-closed-bg: #4DB6AC;

$histry-padding: 15px;
$color-history-bg: #ffffff;
$color-history-border: #dfe8f1;

$timeline-point-size: 8px;
$color-timeline: #e5e5e5;

$note-title-margin: 0 19px 0 10px;
$note-title-padding: 6px 9px;
$color-note-title-bg: #e9eaf1;

$color-content-bg: #fafcfe;
$color-unselected-tab-bg: #f0f0f0;
$color-target-bg: #DDEEFF;

div.issue {
  background: $color-issue-bg;
  padding: $issue-padding;
  margin-bottom: 12px;
  border-radius: 3px;
  border: none;

  hr {
    width: auto;
    background: rgba(0,0,0,0.12);
    padding: 0 10px;
    margin: 8px -10px;
  }
}

table.progress {
  margin: 4px 6px 0px 0;

  td {
    height: $progress-height;
    border-radius: 2px;

    &.closed {
      background-color: $color-progress-closed-bg;
    }
  }
}

p.percent {
  padding-top: 2px;
}

.edit_issue fieldset {
  border: none;
  background: #f4f7f9;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 23px 12px 13px;

  legend {
    position: relative;
    top: 18px;
  }
}

// 作成日・更新日に実際の日時を表示
a[href*="activity"][data-absolute-date*=":"] {
  margin: 0 3px;
  box-shadow: inset 0 -1.5em 0 rgba(0, 0, 0, 0.08);
  display: inline-block;
  padding: 0 3px;
  border-radius: 3px;
  &:before {
    content: ' [' attr(data-absolute-date) '] ';
  }
}

div#content .tabs {
  ul {
    border-bottom: 1px solid $color-history-border;

    li a {
      background-color: $color-unselected-tab-bg;
      border: 1px solid $color-history-border;

      &.selected {
        background-color: $color-content-bg;
        border: 1px solid $color-history-border;
        border-bottom: 1px solid $color-content-bg;
      }
    }
  }
}
div#update .jstTabs.tabs li a {
  border-bottom: 1px solid $color-history-border;
}

#history {
  div.tabs {
    margin-bottom: 0px;

    ul li a.selected {
      background-color: $color-history-bg;
      border-bottom: 1px solid $color-history-bg;
    }
  }
  .tab-content {
    background-color: $color-history-bg;
    border-radius: 0px 0px 3px 3px;
    border-right: 1px solid $color-history-border;
    border-left: 1px solid $color-history-border;
    border-bottom: 1px solid $color-history-border;
    padding-top: $histry-padding;
    padding-left: 10px;

    // Do not show vertical lines connecting history if tab-notes or tab-properties
    &.discontinuity .journal:after {
        content: none;
      }

    .journal {
      padding: 8px 3px 3px 3px;
      background-color: $color-history-bg;
      position: relative;
      overflow: visible;

      &:before {
        content: "";
        width: $timeline-point-size;
        height: $timeline-point-size;
        background-color: $color-history-bg;
        position: absolute;
        left: 6px;
        top: 16px;
        border-radius: 50%;
        box-shadow: 0 0 0 3px $color-timeline;
        z-index: 1;
      }

      &:after {
        content: "";
        height: 100%;
        width: 2px;
        background-color: $color-timeline;
        position: absolute;
        left: 9px;
        top: 0px;
      }

      &:first-of-type:after {
        top: 15px;
      }

      &:last-of-type:after {
        height: 18px;
      }

      &:first-of-type:last-of-type:after {
        content: none;
      }

      .contextual {
        padding-right: 10px;
        padding-top: 5px;

        .journal-actions, a.journal-link {
          position: relative;
          z-index: 5;
        }
      }

      // #tab-content-changesets内のh4要素のみ.contextualと隣接していないため個別の書き方をしている
      h4.note-header {
        left: 20px;
        position: relative;
        margin: $note-title-margin;
        border: none;
        font-weight: bold;
        background-color: $color-note-title-bg;
        padding: $note-title-padding;
        font-size: 0.9em;
        border-radius: 4px;

        a[href*="activity"][data-absolute-date*=":"] {
          box-shadow: none;
          padding: 0;
        }

        &:before {
          content: '';
          position: absolute;
          left: -6px;
          top: 8px;
          width: 0;
          height: 0;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 6px solid $color-note-title-bg;
        }

        .gravatar {
          position: absolute;
          left: -35px;
          top: 4px;
          z-index: 5;
          margin-left: 0;
        }
      }

      // #change-n               #note-n
      &:target .contextual + h4, div:target .contextual + h4 {
        background: $color-target-bg;

        &:before {
          border-right: 6px solid $color-target-bg;
        }
      }

      .details {
        list-style: none;
        font-size: 0.9em;
        line-height: 1.5;
        margin-bottom: 1em;
        padding-left: 46px;

        li {
          position: relative;

          &:after {
            display: block;
            content: '';
            position: absolute;
            top: .5em;
            left: -1em;
            width: 4px;
            height: 4px;
            background-color: $color-history-bg;
            border: 1px solid #888;
            border-radius: 50%;
          }
        }
      }

      form .jstBlock, form input, div[id^="template_journal"],
      .wiki:not(.wiki-preview),
      &.time_entry p, &.changeset .note > p {
        margin-left: 32px;
      }
    }
  }
}

.tabular p {
  padding-left: 160px;

  .edit_issue & {
    padding-left: 130px;
  }
}
.edit_issue .tabular .wiki-preview p {padding-left: 0 !important}

.tabular label {
  margin-left: -160px;
  width: 150px;

  .edit_issue & {
    margin-left: -130px;
    width: 120px;
  }
}

fieldset#filters td.values input {
  height: inherit;
}

.jstBlock .wiki-preview {
  border: 1px solid $color-history-border;
}

.issue-card {
  background-color: $color-issue-bg;
}