div.jstElements {
  display: inline-flex;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-size: 12px;
  height: 28px;

  button {
    background-image: initial;
    background-color: $white !important;
    border-color: $gray-300 !important;
    padding: 2px 0 1px 0;
  }

  button::before {
    font-family: $fa-font-family;
  }

  .jstb_strong:before { content: "\f032"; /* fa-bold */ }
  .jstb_em:before { content: "\f033"; /* fa-italic */ }
  .jstb_ins:before { content: "\f0cd"; /* fa-underline */ }
  .jstb_del:before { content: "\f0cc"; /* fa-strikethrough */ }

  .jstb_code:before {
    content: "C";
    font-family: $jstb-font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  .jstb_h1:before {
    content: "H1";
    font-family: $jstb-font-family;
    font-weight: 700;
  }

  .jstb_h2:before {
    content: "H2";
    font-family: $jstb-font-family;
    font-weight: 700;
  }

  .jstb_h3:before {
    content: "H3";
    font-family: $jstb-font-family;
    font-weight: 700;
  }

  .jstb_ul:before { content: "\f0ca"; /* fa-list-ul */ }
  .jstb_ol:before { content: "\f0cb"; /* fa-list-ol */ }
  .jstb_tl:before { content: "\f0ae"; /* fa-list-check */ }
  .jstb_bq:before { content: "\f03c"; /* fa-indent */ }
  .jstb_unbq:before { content: "\f03b"; /* fa-outdent */ }

  .jstb_pre:before {
    content: "pre";
    font-family: $jstb-font-family;
    font-weight: 700;
    vertical-align: middle;
  }

  .jstb_precode:before { content: "\f121"; /* fa-code */ }
  .jstb_link:before { content: "\f0c1"; /* fa-link */ }
  .jstb_img:before { content: "\f03e"; /* fa-image */ }
  .jstb_table:before { content: "\f0ce"; /* fa-table */ }
  .jstb_help:before { content: "\f059"; /* fa-circle-question */ }
  .jstb_macros:before { content: "\f12e"; /* fa-puzzle-piece */ }}
