$color-top-menu-bg: #223342;
$color-main-bg:     #fafcfe;


#top-menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  background: $color-top-menu-bg;
  z-index: 1;
  position: relative;
}

#header {
  background: radial-gradient(circle at 1.98% 20.98%, #4b6cb7, transparent 100%), radial-gradient(circle at 98.02% 20.98%, #2e4063, transparent 100%), radial-gradient(circle at 50% 50%, #19c8b5, #19c8b5 100%);
  padding: 10px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
  min-height: 1em;

  h1 {
    padding-bottom: 20px;
    color: white;
  }
}

#main {
  background-color: $color-main-bg;
}

#content {
  padding: 25px;
  background-color: $color-main-bg;
  box-sizing: border-box;
  width: 81%;
}

#sidebar {
  padding-left: 17px;
  padding-right: 17px;
  width: 19%;
  box-sizing: border-box;
  font-size: 0.9em;

  h3 { color: #333; }
}

.icon {
  padding-bottom: 2px;
  padding-top: 2px;
}

// Fix a problem that underlines is broken in chrome
a:hover, a:active {
  outline: 1px solid transparent;
}

#sidebar { width: 19%; }
#main.nosidebar #sidebar, #main.hide-sidebar #sidebar { display: block; margin-left: -19%; }
#main.animate #sidebar { transition: margin-left 0.2s ease-in-out; }
#main:not(.nosidebar):not(.hide-sidebar) #sidebar{ margin-left: 0px;}
#content { padding: 6px 10px 10px 10px; z-index: 10; }
#sidebar-switch-panel {
  float: right;
  left: 10px;
  top: 2px;
  width: 20px;
  height: 25px;
  position: relative;
  padding: 2px;
  margin-left: 5px;
}
#sidebar-switch-button {
  background-color: #EEEEEE;
  border-bottom: 1px solid #DDDDDD;
  border-left: 1px solid #DDDDDD;
  border-top: 1px solid #DDDDDD;
  display: block;
  height: 100%;
  padding: 13px 20px 15px 10px;
  font-size: 0px;
  &:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    margin-right: 3px;
    font-size: 15px;
    color: #666;
  }
}
#main.hide-sidebar #sidebar-switch-button:before{
  content: "\f053";
  font-family: 'Font Awesome 5 Solid';
}
#main:not(.hide-sidebar) #sidebar-switch-button:before {
  content: "\f054";
  font-family: 'Font Awesome 5 Solid';
}