$color-top-menu-bg: #223342;
$color-main-bg:     #fafcfe;
$color-border-sidebar-switch-button: #ddd;

#top-menu {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
  background: $color-top-menu-bg;
  z-index: 1;
  position: relative;
}

#header {
  background: radial-gradient(circle at 1.98% 20.98%, #4b6cb7, transparent 100%), radial-gradient(circle at 98.02% 20.98%, #2e4063, transparent 100%), radial-gradient(circle at 50% 50%, #19c8b5, #19c8b5 100%);
  padding: 10px 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: white;
  min-height: 1em;

  h1 {
    padding-bottom: 20px;
    color: white;
  }
}

#main {
  background-color: $color-main-bg;
}

#content {
  padding: 25px;
  background-color: $color-main-bg;
  box-sizing: border-box;
  width: 81%;
}

#sidebar {
  padding-left: 17px;
  padding-right: 17px;
  width: 19%;
  box-sizing: border-box;
  font-size: 0.9em;

  h3 { color: $default-heading-font-color; }
}

.icon {
  padding-bottom: 2px;
  padding-top: 2px;
}

// Fix a problem that underlines is broken in chrome
a:hover, a:active {
  outline: 1px solid transparent;
}

// Collapse sidebar
#sidebar { width: 19%; display: none; background-color: $color-header-bg;}
#main.visible-sidebar #sidebar{ display: block; }
@media screen and (max-width: 899px) {
  #main.visible-sidebar {
    #sidebar, #sidebar-switch-panel { display: none; }
  }
}

#content { padding: 14px 14px 14px 14px; }
#sidebar-switch-panel {
  float: right;
  left: 10px;
  top: 2px;
  width: 20px;
  height: 25px;
  position: relative;
  padding: 2px;
  margin-left: 5px;
}
#sidebar-switch-button {
  background-color: $color-header-bg;
  border-bottom: 1px solid $color-border-sidebar-switch-button;
  border-left: 1px solid $color-border-sidebar-switch-button;
  border-top: 1px solid $color-border-sidebar-switch-button;
  border-radius: 10px 0px 0px 10px;
  display: block;
  height: 100%;
  padding: 9px 20px 9px 5px;
  font-size: 0px;
  text-decoration: none;
  &:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    margin-right: 3px;
    font-size: 15px;
    color: #666;
  }
}
#main:not(.visible-sidebar) #sidebar-switch-button:before{
  @include fontAwesome('f053', 'Solid'); // fa-chevron-left
}
#main.visible-sidebar #sidebar-switch-button:before {
  @include fontAwesome('f054', 'Solid'); // fa-chevron-right
}
@media print {
  #main.visible-sidebar #sidebar, #sidebar-switch-panel { display:none; }
}

// To prevent it from overlapping the sidebar
table.list.plugins {
  margin-top: 10px;
}

@media screen and (max-width: 899px) {
  #content>.contextual>a, #content>.contextual .drdn, p.buttons a {
    background: #ffffff;
  }
}
