.controller-news.action-show {
  #content div.news {
    position: relative;
    margin-bottom: 10px;
    border-radius: 3px;
    background-color: $color-history-bg;
    border: 1px solid $color-history-border;
    padding: $histry-padding;
  }
}
