$default-heading-font-color: #333;
$color-issue-bg: #fff9c4;
$color-header-bg: #e9eaf1;

// icon
$icon-color: #666;
$hover-icon-color: #000000;
$color-bookmark-icon: #557cff;
$color-star-icon: #ffc400;
$color-warning-icon: #ffae42;
$color-success-icon: #55ab4f;
$color-error-icon: #EC0B19;

// priority
$color-priority-lowest  : #81D4FA;
$color-priority-high3   : #EF9A9A;
$color-priority-high2   : #E53935;
$color-priority-highest : #C62828;

// status
$color-closed           : #777777;
